{{>nav-dash}}


<div class="columns">
    <div class="column is-one-third">
        
        
      
    <div id = "mainCards">
      <div class="cardYT card">
        <div class="card-content">
          <!-- Search Display -->
          <div class="field">
            <h4 class="title is-4 has-text-grey-dark">Calendar 2023</h4>
          </div>
          <button class="button is-medium is-fullwidth is-danger is-outlined">January</button>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">February</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">March</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">April</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">May</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">June</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">July</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">August</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">September</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">Octuber</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">November</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">December</button></p>
          
          <hr>
        
            
          
            </div>
          </div>
        
       
       
          
          
        
       
          
          
            
            
            
          
                  
            </div>
            
          
       
              <div>
                
              </div>
        
            </div>
            <div class="column">
                <div class="level is-mobile">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Income</p>
                        <p id="viewCountVideo" class="title">0</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Expenses</p>
                        <p id="uploadCountVideo" class="title">0</p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Total left</p>
                        <p id="likesVideo" class="title">0</p>
                      </div>
              </div>
          </div>
            </div>
           
          </div>
          

          <div class="field">
            <div class="control">
              <textarea class="textarea is-large" placeholder="Large textarea"></textarea>
            </div>
          </div>
          <textarea class="textarea" placeholder="10 lines of textarea" rows="10"></textarea>

        
          <div class="field has-addons has-addons-centered">
            <p class="control">
              <span class="select">
                <select>
                  <option>$</option>
                  <option>£</option>
                  <option>€</option>
                </select>
              </span>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Amount of money">
            </p>
            <p class="control">
              <a class="button is-primary">
                Transfer
              </a>
            </p>
          </div>